@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Potta+One&family=Sarabun:wght@200&display=swap');

body {
  margin: 0.5em;
  padding: 0;
  font-family:  'Paytone One', sans-serif,'JetBrains Mono', monospace, 'Potta One', cursive,'Sarabun', sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #d46a2b;
  
  flex-direction: column;
  flex-basis: 2px;

  
}

code {
  font-family: 'Sarabun', sans-serif;
}
